[submodule "agentic_review_annotation_distilabel/thirdparty/openhands"]
	path = agentic_review_annotation_distilabel/thirdparty/openhands
	url = https://github.com/OpenHands/benchmarks.git
[submodule "agentic_review_annotation_distilabel/thirdparty/mini-swe-agent"]
	path = agentic_review_annotation_distilabel/thirdparty/mini-swe-agent
	url = https://github.com/SWE-agent/mini-swe-agent.git
